.comment-list {
	text-align: left;
}

#comments {

	label {
		@extend h4;
		display: block;
	}

	.required {
		color: $color-thoughts;
	}

	.comment-list,
	.children {
		list-style: none;
	}

	.comment-list {
		margin-left: 0;
	}

	.comment-body {
		border-bottom: 2px solid $color-thoughts;
	}

	.comment-metadata a {
		text-decoration: none;
		cursor: default;
		&:hover {
			color: $color-thoughts;
		}
	}

	.comment-respond {
		margin-top: 20px;
	}
}

/* TODO: can i put some code in that says if typekit hasn't loaded in 2secs, just load the site anyway? */