button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;

	&::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
	}
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	text-align: left;
	padding: 3px;
	width: 100%;
	max-width: 800px;

	&:focus {
		color: $color__text-input-focus;
		outline: 1px solid $color-neutral;
	}
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	max-width: 800px;
}

div.wpcf7 {
	margin-top: 40px;
}

div.wpcf7 .required,
span.wpcf7-not-valid-tip {
	color: $color-contact;
}

div.wpcf7-validation-errors,
div.wpcf7-mail-sent-ok {
	border: none;
	color: $color-contact;
	background-color: lighten($color-contact, 30%);
}

div.wpcf7-response-output {
	margin-top: 0;
}

.wpcf7 .ajax-loader {
	display: none;
}

.feedback {
	color: $color-thoughts;
	background-color: lighten($color-thoughts, 53%);
}