
//SITE TITLE----------------------------------------------------------------------------

h1.site-title a,
h1.site-title a:visited,
h1.site-title a:focus,
h1.site-title a:active,
h1.site-title a:hover {
	border-bottom: 0;
} //TODO: check dev tools, repeating weirdly. try removing the : and its fine. try &? try ordering this file below the type file?

.site-title {
	margin: 1em auto;
	max-width: 700px;
}

@include breakpoint(small) {
	.logo {
		fill: #000;
	}
	.home .logo {
		fill: #fff;
	}
}//TODO: need fallback png as per css tricks using svg


//BACKGROUND ANIMATIONS---------------------------------------------------------------

.background {
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
	height: 375px;
	width: 100%; //needed to prevent sideways scroll appearing. svg width is declared in the svg.
	text-align: left;
	background-repeat: no-repeat;
	@include breakpoint(small) {
		transform: rotate(270deg) translateX(-1335px);
		transform-origin: top left;
		width: 1335px; //everything's backwards now because of the rotation. 100% doesn't work either.
		background-repeat: repeat-x; //TODO: can we make this work? for huge screens? or fade but only in desktop?
		position: fixed; //on mobile, header needs to scroll away. on desktop it's fixed.
	}
}

polygon {
	transform: translateY(-1000px);
	@include breakpoint(small) {
		transform: translateX(2800px); //everything's backwards now because of the rotation.
	}
}

.moove {
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
	transition-delay: 0.5s;
	transform: translateY(0px);
	@include breakpoint(small) {
		transform: translateX(0px);
	}
}


//FALLBACK BACKGROUNDS---------------------------------------------------------------

.post-type-archive-portfolio .background, 
.single-portfolio .background {
	background-image: url("img/bg2.jpg");
}

.blog .background, 
.single-post .background {
	background: url("img/bg3.jpg");
}

.page-id-7 {
	background: url("img/bg3.jpg");
}

.page-id-9 {
	background: url("img/bg3.jpg");
}

//TODO: need to sort out heights etc? note theres a width inside the svg itself
//TODO: why does typekit need to put all those crappy classes in the html element :P
