.main-navigation {
	clear: both;
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 3em;
	letter-spacing: 0.05em;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a {
			}

			a:hover {
			}
		}

		li:hover > ul {
			left: auto;
		}
	}
	li {
		position: relative;

		&:hover > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item a,
	.current-menu-item a {
	}
}

.main-navigation li a {
	text-transform: uppercase;
	@include font-size(2);
	color: #fff !important; //TODO: oh god get rid of this
	@include breakpoint(small) {
		color: $color__text-main !important;
	}
}


@include breakpoint(small) {
	.main-navigation li {
		display: inline-block;//TODO: flex?
		margin-right: 40px;
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	text-align: left;
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

.post-navigation {

	.icon-arrow-left {
		float: left;
		margin: 5px 5px 75px 0;
	}

	.icon-arrow-right {
		float: right;
		margin: 5px 0px;
	}

	.nav-next p {
		margin-right: 20px;
	}
}
	
//TODO: make the contact form validation the same as the comment form validation
