.main-navigation {
	clear: both;
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 3em;
	letter-spacing: 0.05em;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a {
			}

			a:hover {
			}
		}

		li:hover > ul {
			left: auto;
		}
	}
	li {
		position: relative;

		&:hover > a {
		}
	}
	a {
		text-decoration: none;
	}

}

.current-menu-item a,
.current_page_item a,
.current_page_parent a {
	border-bottom: 2px solid #fff;
}
.main-navigation li a:hover {
	color: #fff;
}


@mixin nav($class, $color-pg) {
	.#{$class} .current-menu-item a,
	.#{$class} .current_page_item a,
	.#{$class} .current_page_parent a {
		border-bottom: 4px solid $color-pg;
	}
	.#{$class} .main-navigation li a:hover {
		color: $color-pg !important;
	}
}

@include breakpoint(small) {
	@each $class, $color-pg in $themes {
		@include nav($class, $color-pg);
	}
}


.main-navigation li a {
	text-transform: uppercase;
	@include font-size(2);
	color: #fff !important; //TODO: oh god get rid of this, and the others above
	@include breakpoint(small) {
		color: $color__text-main !important;
	}
}


@include breakpoint(medium) {
	.main-navigation ul {
		position: relative;
	}
	.main-navigation ul:before {
		content: "";
		display: block;
		position: absolute;
		border: 1px solid #000;
		top: 17px;
		left: -26px;
		right: -26px;
		z-index: -1;
	}
	.main-navigation li {
		display: inline-block;
		background-color: #fff;
		margin-left: -6px;
		padding-right: 40px;
		padding-left: 15px;
		&:last-of-type {
			padding-right: 15px;
		}
	}
	.home .main-navigation li {
		background-color: transparent;
	}
	.home .main-navigation ul:before {
		z-index: 1;
		width: 13%;
		top: 45px
	}
	.home .main-navigation ul:after {
		content: "";
		display: block;
		position: absolute;
		border: 1px solid $color-home;
		top: 45px;
		right: -26px;
		width: 13%;
	}
}

@include breakpoint(large) {
	.main-navigation ul:before {
		left: -145px;
		right: -145px;
	}
	.home .main-navigation ul:before,
	.home .main-navigation ul:after {
		width: 25%;
	}
	.home .main-navigation ul:after {
		right: -136px;
	}
}

@mixin line($class, $color-pg) {
	.#{$class} .main-navigation ul:before {
		border-color: $color-pg;
	}
}

@each $class, $color-pg in $themes {
	@include line($class, $color-pg);
}


.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	text-align: left;
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

.post-navigation {

	.icon-arrow-left {
		float: left;
		margin: 5px 5px 75px 0;
	}

	.icon-arrow-right {
		float: right;
		margin: 5px 0px;
	}

	.nav-next p {
		margin-right: 20px;
	}
}
	
//TODO: make the contact form validation the same as the comment form validation
