//LAYOUT---------------------------------------------------------------

html {
	overflow-y: auto; //overrides vendor reset so that home background will work
}

@include breakpoint(small) {
	.container-fluid {
		margin-left: 30rem;
		margin-right: 1rem;
		max-width: 1400px;
	}
}

@include breakpoint(large) {
	.container-fluid {
		padding-left: 150px;
		padding-right: 150px;
	}
}


.page-content,
.entry-content,
.entry-summary,
.screenshots {
	margin: 0.5em 0 0; //don't change, needs to be there for portfolio hovers
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


//HOME PAGE---------------------------------------------------------------

.home .container-fluid {
	margin-left: 1rem;
	max-width: none;
}

.home-background {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	background: url("img/bg1.jpg") no-repeat;
	background-size: cover;
}

.home-background-svg {
	width: 100%;
}

.home polygon {
	transform: translateY(-1500px);//TODO: browser check all transformation -heights, use jquery?
	@include breakpoint(small) {
		transform: translateY(-2000px);
	}
}

.home .site-title {
	@include breakpoint(small) {
		margin-top: 3em;
		max-width: none;
		width: 90%;
	}
}

.home .site-content {
	max-width: 680px;
	margin: 0 auto;
}

.home .main-navigation li a {
	color: #fff !important;
	@include breakpoint(medium) {
		@include font-size(2.6);
	}
}

.home p {
	color: #fff;
	line-height: 2.4em;
	@include breakpoint(small) {
		@include font-size(2.4); 
	}
}

.home .pull-copy {
	@include font-size(3.2);
}


//ABOUT PAGE---------------------------------------------------------------

#image_rotate {
    background-image: url("img/me.jpg");
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 100%;

    max-width: 300px;
	width: 100%;
	margin: 20px auto;
	-webkit-shape-outside: circle(50% at 50.1% 50.1%);
	shape-outside: circle(50% at 50.1% 50.1%);
	
	background-color: lighten($color-about, 45%);
	background-blend-mode: darken;
	position: relative;	
	z-index: 1;

	&:before {
		content: "";
		display: block;
		padding-top: 100%;
	}
}

@include breakpoint(medium) {
	#image_rotate {
		width: 50%;
		float: left;
		margin: 20px;
	}
	.page-id-7 .entry-content>p:nth-of-type(-n+2) {
		text-align: left;
	}
}




/* .page-id-7 .entry-content>p:first-of-type {
	position: relative;	
}

.page-id-7 .entry-content>p:first-of-type:before {
	content: "";
	display: block;
	position: absolute;
	border: 2px solid #FFF;
	width: 27%;
	top: -2px;
	bottom: -2px;
	right: 0;
} */

.page-id-7 .entry-content h2 {
	padding-top: 20px;
}


//PORTFOLIO ARCHIVE PAGE---------------------------------------------------------------

.post-type-archive-portfolio .article-wrapper {
	margin-bottom: 4%;
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	overflow: hidden;
	@include breakpoint(medium) {
		padding-bottom: 48%;
		width: 48%;
		margin-right: 4%;
		float: left;
		&:nth-of-type(2n) {
			margin-right: 0;
		}
	}
/* 	@include breakpoint(large) {
		padding-bottom: 30.66666%;
		width: 30.66666%;
		&:nth-of-type(2n) {
			margin-right: 4%;
		}
		&:nth-of-type(3n) {
			margin-right: 0;
		}
	} */
}

.post-type-archive-portfolio article {
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	text-align: left;
	padding: 8%;
	.thumb {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.post-type-archive-portfolio article {
	.entry-header {
		a {
			color: #fff;
			&:hover {
				color: #fff;
				border-bottom: 2px solid #fff;
			}
		}
	}
	p {
		color: #fff;
		line-height: 1.5em;
	}
	a {
		text-decoration: none;
	}
	button {
		border-color: #fff;
		color: #fff;
	}
	@include breakpoint(xlarge) {
		.entry-title {
			@include font-size(3.5);
		}
		p {
			@include font-size(2.2);
		}
	}
}




//Animations
.post-type-archive-portfolio {
	article {
		background: linear-gradient(to bottom, #747474 50%, #436daf 100%);
		transition: background 0.5s;
	}

	.entry-header{
		top: 72%;
		position: absolute;
		transition: top 0.6s;
		z-index: 10;
		width: 84%;
	}

	.entry-content {
		top: 100%;
		position: absolute;
		transition: top 0.6s; //Note, if you transition a transform (rather than top) over the blend mode it causes jumpy bugs :P
		z-index: 10;
		padding-right: 8%;
	}

	.thumb {
		mix-blend-mode: overlay; //multiply, luminosity and color-burn also look good depending on gradient colors. can also transition blend modes if desired.
		max-width: 120%;
		width: 100%;
		transition: width 0.6s;
	}
}

.post-type-archive-portfolio article:hover {
	background: linear-gradient(to bottom, #3E6D99 10%, #19396C 90%);
	
	.entry-header {
		top: 7%;
	}
	.entry-content {
		top: 16%;
	}
	.thumb {
		width: 120%; //Despite adobe blog saying you can't animate content that has a blend mode on it, this works! Wasn't working when it was a bg image.
	}
}

//TODO: write an article re blend modes. listing gotchas. stacking contexts also relevant :P isolate etc for text.


//PORTFOLIO DETAIL PAGE---------------------------------------------------------------

.shot-wrapper {
	position: relative;
	margin: 3rem 0;
}

.imac {
	position: relative;
	z-index: 1;
	width: 100%;
	max-width: 800px;
}

.screenshot {
	position: absolute;
	left: 0;
	padding: 0 4%;
	width: 100%;
	max-width: 800px;
}

.clip {
	position: absolute;
	overflow: hidden;
	left: 50%;
	transform: translateX(-50%);
	height: 62%;
	width: 100%;
	max-width: 800px;
	margin-top: 4%;
}


//THOUGHTS PAGE---------------------------------------------------------------
.blog .article-wrapper {
	background-color: lighten($color-thoughts, 53%);
	margin-bottom: 4%;
	width: 100%;
	min-height: 375px;
	text-align: left;
	padding: 4%;
	a {
		text-decoration: none;
	}
	@include breakpoint(medium) {
		width: 48%;
		margin-right: 4%;
		float: left;
		&:nth-of-type(2n) {
			margin-right: 0;
		}
	}
}



//TODO: gzipping?
//TODO: write animating blend modes and three js articles @content
//TODO: tidy ivanthered, finish fling and ftf @content
//TODO: tidy github @content
//TODO: responsive images? @content
//TODO: write report @content
//TODO: testing... mobile. its something in the js
//TODO: review modernizr build during testing, anything to add or remove

//CONTACT PAGE---------------------------------------------------------------

.details {
    border-radius: 50%;
    max-width: 300px;
	width: 100%;
	margin: 20px auto;
	-webkit-shape-outside: circle(50% at 50.1% 50.1%);
	shape-outside: circle(50% at 50.1% 50.1%);
	background-color: lighten($color-contact, 30%);
	position: relative;	

	&:before {
		content: "";
		display: block;
		padding-top: 100%;
	}
	p {
		position: absolute;
		top: 32%;
		font-family: $font__head;
		@include font-size(2.4);
		line-height: 1.8em;
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

@include breakpoint(medium) {
	.details {
		width: 50%;
		float: left;
		margin: 20px;
	}
	.page-id-9 .entry-content>p {
		text-align: left;
	}

}


