button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: #fff;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	@include font-size(1.6);
	text-transform: uppercase;
	line-height: 1;
	padding: .6em 1em;
	outline: none;
	transition: all 0.2s;
	position: relative;
	border: none;

	&:active {
		top: 2px;
	}
}

@mixin buttons($class, $color-pg) {
	.#{$class} {

		button,
		input[type="button"],
		input[type="reset"],
		input[type="submit"] {
			color: $color-pg;
			border: 2px solid $color-pg;

			&:focus,
			&:hover {
				background-color: darken($color-pg, 20%);
				border: 2px solid darken($color-pg, 20%);
				color: #fff;
			}
		}
	}
}

@each $class, $color-pg in $themes {
	@include buttons($class, $color-pg);
}

.wpcf7-submit {
	display: block;
	margin: 0 auto;
}