h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__head;
	font-style: normal;
	font-weight: 600;
}

h1 {
	@include font-size(4);
	font-weight: 100;
	line-height: 1.2em;
	margin-bottom: .25em;
	@include breakpoint(medium) {
		@include font-size(6)
	}
}

h2 {
	@include font-size(2.6);
	line-height: 1.4em;
	margin-bottom: .5em;
}

h3 {
	@include font-size(1.4);
	text-transform: uppercase;
	line-height: 1.4em;
	margin-bottom: .5em;
}

h4 {
	margin-bottom: .5em;
	font-weight: 400;
}

//TODO: spellcheck and check all links (spesh project buttons and get in touch), not on this computer (localhost issues)
//TODO: turn off skrollr on mobile? not really needed
//TODO: about page says fallbacks to ie8
//TODO: create bex@rebeccahill.co.nz
//TODO: remove one bright yellow spot on home?
//TODO: really wide screens.. could change left margin to just centre instead?
//TODO: posting comments gives only one error type. eg if comment is a duplicate should have correct error
//TODO: ftf doesnt fit on one line on portfolio page
//TODO: seo and speed plugins