hr {
	height: 1px;
	margin-bottom: 1.5em;
}


//Correct theme colours for hr

@mixin hr($class, $color-pg) {
	.#{$class} hr {
		border-top: 2px solid $color-pg;
	}
}

@each $class, $color-pg in $themes {
	@include hr($class, $color-pg);
}


//Correct theme colours for first paragraph borders

/* @mixin first-p($color) {
	.entry-content>p:first-of-type,
	.first-p {
		border-top: 2px solid $color;
		border-bottom: 2px solid $color;
	}
}

.single-portfolio .intro {
	border-top: 2px solid $color-projects;
	border-bottom: 2px solid $color-projects;
}

.single-post {
	@include first-p($color-thoughts);
}

.page-id-7 {
	@include first-p($color-about);
} */