hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
} //TODO: style with buttons and links in a mixin for the colours. otherwise make it look like the border on first p on detail pages