@mixin links($class, $color-pg) {
	.#{$class} a {
				color: $color-pg;
	
/* 				&:visited {
					color: $color-pg;
				} */
				&:hover,
				&:focus,
				&:active {
					color: darken($color-pg, 20%);
				}
	}
	.#{$class} h1 a, 
	.#{$class} h2 a,
	.#{$class} h3 a {
				text-decoration: none;
				//border-bottom: 2px solid $color-pg;
				&:hover,
				&:focus,
				&:active {
					border-bottom: 2px solid darken($color-pg, 20%);
				}
	}
}

@each $class, $color-pg in $themes {
	@include links($class, $color-pg);
}

.nav-links a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

/* TODO: maybe check exported css to make sure its not bloated */