h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__head;
	font-style: normal;
	font-weight: 300;
}

h1 {
	@include font-size(3);
	line-height: 1.4em;
	margin-bottom: .4em;
}

//"logo"
.site-title a {
	color: #000;
	text-decoration: none;
	text-transform: lowercase;
}

