.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: currentColor;
}
.icon-arrow-right {
	/*fill: #000000;*/
}
.icon-arrow-left {
	/*fill: #000000;*/
}
.icon-arrow-right2 {
	/*fill: #000000;*/
}
.icon-arrow-left2 {
	/*fill: #000000;*/
}
.icon-mail {
	/*fill: #000000;*/
}
.icon-facebook {
	/*fill: #000000;*/
}
.icon-twitter {
	/*fill: #000000;*/
}
.icon-github {
	/*fill: #000000;*/
}
